@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #f9f6f6;
    line-height: 2.5vw;
}
.img-banner{
    width: 90%;
    border-radius: 22px;
     backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%); 
     background-color: #000033; /*00003370*/
}

.img-logo{
    height: 40%;
    width: 50%;
}

 .card{
    color: #ffffff;
     backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%); 
     background-color: #000033; /*00003370*/
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0);
     
}

.carta{
height: max-content;
width: 70vw;
position: relative;
left: 10vw;
display: flex;
overflow: scroll;
scroll-snap-type: x mandatory;
}

.carta img{
width: 100%;
position: sticky;
object-fit: cover;
border-radius: 10px;
scroll-snap-align: center;
}

.c{
border-radius: 22px;
}

p{
font-size: 1.3vw; 
}

.imgp{
border-radius: 12px;
}

.titulo{
    
    font-size: 3vw;
    font-weight: 600;
    text-transform: uppercase;
}

.subtitulo{
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
}

.btn{
    width: 15vw;
    border-radius: 22px;
    position: relative;
    left: 39%;
    align-items: center;
    text-transform: uppercase;
}

.service{
    color: #000033;
}

nav {
    z-index: 2;
    display: flex;
    width: 100%;
    background-color: #000033;
    align-items: center;
    padding: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 1vw;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    transition: width 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}

footer{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: #000033;
}

.modal-footer{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
.button{
    border-radius: 22px;
    width: 15vw;
    background: #000033;
}
.Portafolio{
    width: 400%;
}

@media screen and (max-width:988px){
    .titulo{
        font-size: 5vw;
    }
    .subtitulo{
        font-size: 4vw;
    }

    p{
        font-size: 2.5vw;
    }
    .btn{
        width: 20vw;
    }
}

@media screen and (max-width:800px){
    .titulo{
        font-size: 7vw;
    }
    .subtitulo{
        font-size: 4vw;
    }

    p{
        font-size: 2.8vw;
    }

    .img-logo{
        height: 50%;
        width: 50%;
    }

}

@media screen and (max-width:390px){
    .titulo{
        font-size: 9vw;
    }
    .subtitulo{
        font-size: 7vw;
    }

    p{
        margin-top: 2vw;
        font-size: 4.7vw;
        line-height: 10vw;
    }

.btn{ 
width: max-content;
}

.carta{
padding: 10px;
}

nav{
  color: #000033;
  display: flex;
  /*color: black;*/
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

nav ul li::after {
  display: flex;
  color: #000033;
  justify-content: space-evenly;
  align-items: center;
}


}

