@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-color: #0099ff;
}
.img-banner{
    width: 90%;
}

.img-logo{
    width: 20%;
}
p{
    font-size: 25px; 
}
.titulo{
    font-size: 50px;
}